@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Radio+Canada:wght@300&display=swap");
h1 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 50em) {
  h1 {
    font-size: 72px;
    font-weight: 700;
    height: auto;
    letter-spacing: -0.05em;
    line-height: 1;
  }
}

h2 {
  color: #fff;
  font-family: "Poppins";
}
@media (min-width: 50em) {
  h2 {
    font-size: 54px;
    font-weight: 700;
    height: auto;
    letter-spacing: -0.05em;
    line-height: 1;
  }
}

p {
  font-size: 16px;
  color: #fff;
}

body {
  background-color: hsl(251deg, 18%, 12%);
  display: grid;
  position: relative;
}

.light-purple {
  color: hsl(274deg, 53%, 59%) !important;
}

.btn {
  padding: 0.5rem 1rem;
  background: hsl(251deg, 18%, 12%);
  border-radius: 20px;
  color: #fff;
  font-family: "Radio Canada";
}

.btn-tertiary {
  background: transparent;
  border-bottom: 2px solid hsl(249deg, 30%, 18%);
}

nav {
  background-color: hsl(251deg, 18%, 12%);
  position: relative;
  padding: 2rem 0;
}
nav .logo-left {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
nav .logo-left span {
  color: #ab66d2;
}
nav .nav-links {
  margin-bottom: 0;
}
nav .nav-links li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}
nav .nav-links li a {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 1500px) {
  nav .nav-links li a {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
}

.mainstage {
  background-color: hsl(251deg, 18%, 12%);
  position: relative;
  z-index: 1;
}
.mainstage .info {
  text-align: start;
  z-index: 1;
}
.mainstage .info .subheadline {
  font-family: "Radio Canada";
  font-weight: 600;
  font-size: 20px;
  color: hsl(251deg, 22%, 62%);
  position: relative;
}
.mainstage .info .subheadline:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #7a63d2, #b266d2);
  border-radius: 32px;
  flex: none;
  height: 5px;
  margin: 0px 0px 0px 15px;
  width: 40px;
  max-width: calc(100% - 15px);
  bottom: 37%;
}
@media (min-width: 50em) {
  .mainstage .info .subheadline {
    font-family: "Radio Canada";
    font-weight: 600;
    font-size: 28px;
    color: hsl(251deg, 22%, 62%);
  }
}
.mainstage .image img {
  max-width: 100%;
}
@media (max-width: 50em) {
  .mainstage .image img {
    max-width: 40%;
  }
}
.mainstage .social-right li {
  list-style: none;
  margin: 2rem 0;
}
.mainstage .social-right li svg {
  color: #fff;
  stroke-width: 1px;
  width: 25px;
  height: 25px;
}
.mainstage .social-right li:hover svg {
  color: hsl(356deg, 100%, 65%);
}

#about {
  background-color: hsl(249deg, 30%, 18%);
  position: relative;
  z-index: 1;
}

.grid-span-2 {
  grid-column: span 2;
}

#work {
  background-color: hsl(251deg, 18%, 12%);
  position: relative;
}
#work .work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding-block: 2rem;
}
#work .work-grid .work-item {
  color: #fff;
  background-color: hsl(250deg, 41%, 23%);
  border-radius: 0.8rem;
}
#work .work-grid .work-item .inner-card h3 {
  font-family: "Poppins";
}
#work .work-grid .work-item .inner-card .tag {
  display: inline-flex;
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-bottom: 1rem;
}
#work .work-grid .work-item .inner-card .circle {
  background: hsl(198deg, 46%, 57%);
  box-shadow: #7a63d2;
  border-radius: 50%;
  flex: none;
  height: 12px;
  width: 12px;
  max-width: 100%;
}
#work .work-grid .work-item .inner-card .circle.light-purple {
  background: hsl(274deg, 53%, 59%);
}
#work .work-grid .work-item .inner-card h3 {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  height: auto;
  line-height: 1;
}
#work .work-grid .work-item .inner-card p {
  margin-left: 10px;
  color: hsl(198deg, 46%, 57%);
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0;
}
#work .work-grid .work-item .inner-card .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(251deg, 22%, 62%);
}
#work:before {
  content: url(/src/images/blur.png);
  bottom: auto;
  flex: none;
  height: 1000px;
  left: -500px;
  margin: 0 0 0 0;
  position: absolute;
  right: auto;
  top: -570px;
  transition-duration: 1200ms;
  width: 1000px;
  z-index: 0;
  max-width: 100%;
}

#contact {
  background-color: hsl(251deg, 18%, 12%);
  text-align: center;
}

.footer {
  background-color: hsl(251deg, 18%, 12%);
  text-align: center;
}
.footer .logo {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer .logo span {
  color: #ab66d2;
}
.footer .social {
  margin-top: 1rem;
}

.sub-footer {
  background-color: hsl(249deg, 30%, 18%);
  text-align: center;
}
.sub-footer p {
  margin-bottom: 0;
}