@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Radio+Canada:wght@300&display=swap");
h1 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 50em) {
  h1 {
    font-size: 72px;
    font-weight: 700;
    height: auto;
    letter-spacing: -0.05em;
    line-height: 1;
  }
}

h2 {
  color: #fff;
  font-family: "Poppins";
}
@media (min-width: 50em) {
  h2 {
    font-size: 54px;
    font-weight: 700;
    height: auto;
    letter-spacing: -0.05em;
    line-height: 1;
  }
}

p {
  font-size: 16px;
  color: #fff;
}

body {
  background-color: hsl(251deg, 18%, 12%);
  display: grid;
  position: relative;
}

.light-purple {
  color: hsl(274deg, 53%, 59%) !important;
}

svg.large-icon {
  color: #fff;
  color: l;
  stroke-width: 1.2px;
  width: 45px;
  height: 45px;
}

.btn {
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  border: 2px solid hsl(249deg, 30%, 18%);
  background: transparent;
  border-radius: 0.3rem;
  color: #fff;
  font-family: "Radio Canada";
  font-weight: 600;
}
.btn:hover {
  background-color: hsl(249deg, 30%, 18%);
  color: #fff;
}

.btn-tertiary {
  background: transparent;
  border-bottom: 2px solid hsl(249deg, 30%, 18%);
}

nav {
  background-color: hsl(251deg, 18%, 12%);
  position: relative;
  padding: 2rem 0;
}
nav .logo-left {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
nav .logo-left span {
  color: #ab66d2;
}
nav .nav-links {
  margin-bottom: 0;
}
nav .nav-links li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
}
nav .nav-links li a {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
nav .nav-links li a span {
  color: #fff;
}
nav .nav-links li a:hover {
  border-bottom: 2px solid #fff;
}
nav .nav-links li a:hover span {
  color: #b266d2;
}
@media (min-width: 50em) {
  nav .nav-links li {
    padding: 0 20px;
  }
  nav .nav-links li a {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
}

.mainstage {
  background-color: hsl(251deg, 18%, 12%);
  position: relative;
  z-index: 1;
  padding-top: 2rem;
}
.mainstage .info {
  text-align: start;
  z-index: 1;
}
.mainstage .info .subheadline {
  font-family: "Radio Canada";
  font-weight: 600;
  font-size: 20px;
  color: hsl(251deg, 22%, 62%);
  position: relative;
}
.mainstage .info .subheadline:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #7a63d2, #b266d2);
  border-radius: 32px;
  flex: none;
  height: 5px;
  margin: 0px 0px 0px 15px;
  width: 40px;
  max-width: calc(100% - 15px);
  bottom: 37%;
}
.mainstage .image img {
  max-width: 100%;
}
.mainstage .social-right li {
  list-style: none;
  margin: 1rem 0;
}
.mainstage .social-right li svg {
  color: #fff;
  stroke-width: 1px;
  width: 25px;
  height: 25px;
}
.mainstage .social-right li:hover svg {
  color: hsl(356deg, 100%, 65%);
}
@media (min-width: 50em) {
  .mainstage {
    padding-top: 0;
  }
  .mainstage .info .subheadline {
    font-family: "Radio Canada";
    font-weight: 600;
    font-size: 28px;
    color: hsl(251deg, 22%, 62%);
  }
  .mainstage .social-right li {
    margin: 2rem 0;
  }
}

#about {
  background-color: hsl(249deg, 30%, 18%);
  position: relative;
  z-index: 1;
  color: hsl(251deg, 22%, 62%);
}
#about p {
  font-size: 18px;
  color: hsl(251deg, 22%, 62%);
}
#about .personal-snippet p {
  width: 100%;
}
@media (min-width: 50rem) {
  #about .personal-snippet p {
    width: 80%;
  }
}
#about .hold-me h3 {
  color: #fff;
  font-weight: 600;
  position: relative;
}
#about .hold-me h3:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #7a63d2, #b266d2);
  border-radius: 32px;
  flex: none;
  height: 1px;
  margin: 0px 0px 0px 15px;
  width: 50px;
  max-width: calc(100% - 15px);
  bottom: 45%;
}

.grid-span-2 {
  grid-column: span 1;
}
@media (min-width: 50em) {
  .grid-span-2 {
    grid-column: span 2;
  }
}

#work {
  background-color: hsl(251deg, 18%, 12%);
  position: relative;
}
#work h2 {
  position: relative;
}
#work h2:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #7a63d2, #b266d2);
  border-radius: 32px;
  flex: none;
  height: 1px;
  margin: 0px 0px 0px 15px;
  width: 50px;
  max-width: calc(100% - 15px);
  bottom: 45%;
}
#work .work-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  padding-block: 2rem;
}
#work .work-grid .work-item {
  color: #fff;
  background-color: hsl(249deg, 30%, 18%);
  border-radius: 0.3rem;
}
#work .work-grid .work-item .card-wrapper {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
#work .work-grid .work-item .inner-card h3 {
  font-family: "Poppins";
}
#work .work-grid .work-item .inner-card .tag {
  display: inline-flex;
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-bottom: 1rem;
}
#work .work-grid .work-item .inner-card .circle {
  background: hsl(198deg, 46%, 57%);
  box-shadow: #7a63d2;
  border-radius: 50%;
  flex: none;
  height: 12px;
  width: 12px;
  max-width: 100%;
  margin-right: 10px;
}
#work .work-grid .work-item .inner-card .circle.light-purple {
  background: hsl(274deg, 53%, 59%);
}
#work .work-grid .work-item .inner-card h3 {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  height: auto;
  line-height: 1;
}
#work .work-grid .work-item .inner-card p {
  color: hsl(198deg, 46%, 57%);
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0;
}
#work .work-grid .work-item .inner-card .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(251deg, 22%, 62%);
}
#work .work-grid .work-item svg.feather-external-link {
  color: #b266d2;
}
#work .work-grid .work-item:hover {
  cursor: pointer;
  background-color: #7a63d2;
}
#work .work-grid .work-item:hover .inner-card .tag {
  background-color: #fff;
}
#work .work-grid .work-item:hover .inner-card .description {
  color: #fff;
}
#work .work-grid .work-item:hover svg {
  color: #fff;
}
@media (min-width: 50em) {
  #work h2 {
    position: relative;
  }
  #work h2:after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #7a63d2, #b266d2);
    border-radius: 32px;
    flex: none;
    height: 1px;
    margin: 0px 0px 0px 25px;
    width: 200px;
    max-width: calc(100% - 15px);
    bottom: 45%;
  }
  #work .work-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

#contact {
  background-color: hsl(251deg, 18%, 12%);
  text-align: center;
}

.footer {
  border-top: 2px solid hsl(249deg, 30%, 18%);
  background-color: hsl(251deg, 18%, 12%);
  text-align: center;
}
.footer .logo {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer .logo span {
  color: #ab66d2;
}
.footer .social {
  margin-top: 1rem;
}
.footer .social a svg {
  color: #fff;
  stroke-width: 1px;
  width: 25px;
  height: 25px;
}
.footer .social a:hover svg {
  color: hsl(356deg, 100%, 65%);
}

.sub-footer {
  background-color: hsl(249deg, 30%, 18%);
  text-align: center;
}
.sub-footer p {
  margin-bottom: 0;
}